@import "colors.scss";
@import "sizes.scss";
// Button main placeholder:
%button {
  min-width: 160px;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  border-radius: $border-radius;
  font-weight: 400;
  padding: $button-padding-top $button-padding-left-right $button-padding-bottom
    $button-padding-left-right;
  border: none;
  text-transform: capitalize;
  &:hover {
    cursor: pointer;
  }
  &.primary {
    color: $white;
    background-color: $secondary;
    &:hover {
      background-color: $secondary-hover;
    }
  }
  &.secondary {
    color: $white;
    background-color: $secondary;
    &:hover {
      background-color: $secondary-hover;
    }
  }
  &.success {
    color: $white;
    background-color: $success;
    &:hover {
      background-color: $success-hover;
    }
  }
  &.twitter {
    color: $black;
    background-color: $twitter-color;
    border: solid 1px $black;
    &:hover {
      opacity: 0.8;
      color: $twitter-color;
      background-color: $black;
    }
  }
  &.facebook {
    color: $white;
    background-color: $facebook-color;
    border: solid 1px $facebook-color;
    &:hover {
      opacity: 0.8;
      color: $facebook-color;
      background-color: $white;
    }
  }
  &.pinterest {
    color: $white;
    background-color: $pinterest-color;
    border: solid 1px $pinterest-color;
    &:hover {
      opacity: 0.8;
      color: $pinterest-color;
      background-color: $white;
    }
  }
  &.linkedin {
    color: $white;
    background-color: $linkedin-color;
    border: solid 1px $linkedin-color;
    &:hover {
      opacity: 0.8;
      color: $linkedin-color;
      background-color: $white;
    }
  }

  &:disabled {
    background: $disabled-button-color !important;
  }
}
