@import "colors.scss";

input[type="checkbox"] {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    outline:0;
}

input[type="checkbox"]:checked {
    background-color: $primary;
    border: 1px solid $primary;
}
