<a class="container" [routerLink]="'/job/detail/' + job.slug">
  <div class="job-box">
    <div class="content">
      <div class="company-logo">
        <img
          src="{{ job?.featuredImage?.fileUrl || 'assets/img/favicon.png' }}"
          alt="Job Image"
        />
      </div>
      <div class="job-detail">
        <div class="job-title">
          <a [routerLink]="'/job/detail/' + job.slug">{{ job.title }}</a>
        </div>
        <ul class="job-info">
          <li>
            <fa-icon class="icon" [icon]="fabriefcase"></fa-icon
            >{{ job?.category?.name || "-" }}
          </li>
          <li>
            <fa-icon class="icon" [icon]="faMapMarker"></fa-icon
            >{{ job?.location?.name || "-" }}
          </li>
        </ul>
        <ul class="job-chips">
          <li *ngIf="job.jobType" class="time">{{ job.jobType.name }}</li>
          <li class="privacy" *ngIf="job.isFeatured">Featured</li>
          <li class="required" *ngIf="job.isUrgent">Urgent</li>
        </ul>
      </div>
    </div>
  </div>
</a>
