@import "colors.scss";
@import "texts.scss";

.container {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  .job-box {
    height: 100%;
    background-color: #f0f5f7c5;
    padding: 43px;
    border-radius: 20px;
    border: solid $secondary 1px;
    // min-height: 200px;
    // width: fit-content;
    margin-left: 2%;
    .content {
      height: 100%;
      position: relative;
      padding-left: 68px;
      min-height: 51px;
      .company-logo {
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        overflow: hidden;
        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
      .job-detail {
        position: relative;
        .job-title {
          @extend %box-title;
        }
        ul.job-info {
          margin: 0;
          margin-bottom: 10px;
          padding: 0;
          li {
            position: relative;
            font-size: 14px;
            line-height: 22px;
            color: $text-color;
            font-weight: 400;
            padding-left: 25px;
            margin-bottom: 5px;
            margin-right: 20px;
            .icon {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 18px;
              line-height: 22px;
              color: $text-color;
            }
          }
        }
        ul.job-chips {
          display: flex;
          padding: 0;
          margin: 0;
          flex-wrap: wrap;
          li {
            position: relative;
            font-size: 13px;
            line-height: 15px;
            margin-right: 15px;
            padding: 5px 20px;
            border-radius: 50px;
            margin-bottom: 10px;
          }
          li.time {
            background: rgba(25, 103, 210, 0.15);
            color: $primary;
          }
          li.privacy {
            background: rgba(52, 168, 83, 0.15);
            color: #34a853;
          }
          li.required {
            background: rgba(249, 171, 0, 0.15);
            color: $secondary;
          }
        }
      }
    }
  }
  .job-box:hover {
    box-shadow: 0px 7px 18px rgba(64, 79, 104, 0.05);
  }
}
a:hover {
  cursor: pointer;
  color: $primary;
}

ul {
  list-style: none;
}
