@import "breakpoints.scss";
.event-list-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  flex-wrap: wrap;
  row-gap: 12px;
  .event-list-item {
    width: 100%;
  }
}

@media (min-width: $medium-devices-breakpoint) {
  .event-list-item {
    width: 48% !important;
  }
}
