@import "colors.scss";
@import "breakpoints.scss";
.company-container {
  background: $background;
  width: 100%;
}
.top-company {
  padding: 50px 15px;
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  .header {
    width: 100%;
    padding: 50px 0 40px 0;
    .title {
      font-weight: 500;
      font-size: 30px;
      line-height: 41px;
      color: $black;
      margin: 0 0 10px;
    }
    .links {
      font-size: 14px;
      line-height: 22px;
      color: $text-color;
    }
  }
  .container-top-company {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    app-card-company {
      flex: 0 0 30%;
    }
  }
}

@media (min-width: $large-devices-breakpoint) {
  .container-top-company {
    flex-direction: row !important;
    gap: 5% !important;
  }
}
