@import 'colors.scss';

/* the div container */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        line-height: 0;
        margin-left: 10px;
        font-size: 12px;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
}

// input:checked + .slider {
//     background-color: $green;
// }

input:focus + .slider {
    box-shadow: none;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

.slider.round.disabled:hover {
    cursor: default;
}

.slider.round:before {
    border-radius: 50%;
}
