$height: 25px;

.container {
    height: $height;
    display: flex;
    img {
        height: 100%;
    }
    .text {
        padding-left: 5px;
        line-height: $height;
    }
}

.updating {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}