@import "breakpoints.scss";
@import "box-shadow.scss";
@import "sizes.scss";
@import "texts.scss";
@import "buttons.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .loading {
    @extend %box-shadow;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: $content-padding;
    .sub-title {
      @extend %sub-title;
      max-width: 100%;
    }
    .account-validation-loading {
      height: 30vh;
    }
  }
}

.modal-text {
  @extend %paragraph;
  text-align: center;
  margin-bottom: 20px !important;
}
.modal-button {
  @extend %button;
  height: 44px;
  padding: 0;
}
.modal-title {
  @extend %title;
  margin-block: auto;
  text-align: center;
}
