// @import 'fonts.scss';
@import 'colors.scss';

nav {
    width: 100%;
    height: 100%;
    // font-family: $regular;
    padding-left: 35px;
    display: flex;
    justify-content: flex-start;

    .item {
        height: 100%;
        padding-right: 6%;
    }

    .link-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        a {
            height: calc(100% - 12px);
            display: flex;
            align-items: center;
            text-decoration: none;
            border-width: 0;
            transition-duration: 0.5s;
            img {
                margin-right: 15px;
            }
            h3 {
                font-size: 1rem;
                font-weight: normal;
                color: #474747;
                &.active {
                    color: #6bbee3 !important;
                }
            }
        }
        .triangle {
            width: 12px;
            height: 12px;
            z-index: 1;
            transform: rotate(45deg);
            position: absolute;
            margin-right: auto;
            margin-left: auto;
            right: 0;
            left: 0;
            bottom: -6px;
            width: 12px;
            height: 12px;
        }
    }
}
