@import "colors.scss";

.container {
  width: 100%;
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    a {
      text-decoration: none;
      color: inherit;
      display: block;
      transition: all 0.3s ease;
    }
  }
}
