<div class="member-item-container">
  <h2>Why become a member ?</h2>
  <div class="content">
    <!-- {{ didYouKnow ?? "No element provided" | htmlParser }} -->
    <div class="content-element">
      <div class="number">1</div>
      <div class="description">Meeting per year.</div>
    </div>
    <div class="content-element">
      <div class="number">2</div>
      <div class="description">Invitations in Luxembourg of Colors.</div>
    </div>
    <div class="content-element">
      <div class="number">4</div>
      <div class="description">Posts about diversity per year.</div>
    </div>
  </div>
  <a class="see-all" [routerLink]="'/become-member'">
    <Button>Join us</Button>
  </a>
</div>
