@import "colors.scss";
@import "breakpoints.scss";
.job-container {
  width: 100%;

  .banner-container {
    background-image: url("/assets/img/jobs-banner.jpg");
    background-size: cover;
    background-position-y: -50px;
    width: 100%;
    height: 476px;
    margin: 0;
    padding: 0 200px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      height: 200px;
      background-position-y: 0px;
    }
  }

  .header {
    width: 100%;
    padding: 40px 0 0 0;
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      color: $black;
      margin: 0 0 10px;

      span {
        color: $secondary;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
    .links {
      font-size: 15px;
      margin: 5px -15px 10px;
    }
    a:hover {
      opacity: 0.9;
      color: #1370b5;
    }
  }
  .filtered-list {
    background-color: $white;
    padding: 50px 15px 100px;
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    display: flex !important;
    flex-direction: column-reverse;
    gap: 40px;

    .content {
      grid-area: content;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .list-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .list {
          height: 100%;
        }
      }
    }
    .filter {
      width: 100%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $medium-devices-breakpoint) {
  .filtered-list {
    flex-direction: row !important;
    gap: 4% !important;
    .filter {
      width: 28% !important;
    }
    .content {
      width: 68% !important;
    }
  }
}
