@import "form.scss";
// @import 'fonts.scss';
@import "breakpoints.scss";
@import "box-shadow.scss";
@import "colors.scss";
@import "sizes.scss";
@import "buttons.scss";
@import "texts.scss";

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 100%;
  max-height: 100%;
  @extend %box-shadow;
  border-radius: $border-radius;
  overflow-y: auto;
  display: flex;
  align-items: right;
  flex-direction: column;
  position: relative;
  padding: $content-padding;
  .sub-title {
    @extend %sub-title;
    max-width: 100%;
  }
}

button {
  @extend %button;
  width: 100%;
}
form {
  @extend %generic-form;
  max-width: 100%;
  // padding: $standard-padding-top-bottom $standard-padding-left-right;
  .form-content {
    a {
      color: $primary;
      text-decoration: none;
      font-style: normal;
      line-height: 20px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .password-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
    }
    .label {
      @extend %generic-label;
    }
    .error-content {
      @extend %error-form-text;
      font-size: 1rem;
      height: 19px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .input {
    grid-area: input;
    @extend %generic-input;
    display: flex;
    padding: 0;
    input[type="file"] {
      display: none; /* Cacher l'input par défaut */
    }
    .file-upload-button {
      display: flex !important;
      align-items: center !important;
      background-color: $primary;
      color: #fff !important;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      margin-bottom: 0 !important;
      /* Style du texte affiché à côté du bouton */
      + .file-upload-text {
        margin-left: 10px;
        display: flex !important;
        align-items: center !important;
      }
    }
  }
}

.signup-label {
  text-align: center;
  margin: 30px 0;

  font-style: normal;
  font-weight: 700;
  color: $text-color;
  font-size: 14px;
  line-height: 20px;
  a {
    color: $primary;
    text-decoration: none;
    font-size: 15px;
  }
}
@media (max-width: $medium-devices-breakpoint) {
  .form-container {
    box-shadow: none;
    border-radius: 0;
  }
}

::ng-deep {
  .ng-select-multiple {
    @extend %generic-controls;
    &.ng-invalid.ng-dirty.ng-touched {
      input {
        @extend %invalid-control;
      }
      .ng-arrow-wrapper {
        z-index: 2;
      }
      .ng-input {
        width: 100%;
        position: absolute;
        left: 0;
        padding: 15px 20px !important;
      }
      .ng-select-container {
        box-shadow: 0 0 0 0.2rem rgba(226, 11, 50, 0.25);
      }
    }

    .ng-select-container {
      border: none !important;

      .ng-value-container {
        padding-top: 0 !important;
        padding-left: 20px !important;

        .ng-placeholder {
          top: initial !important;
          padding-bottom: 0 !important;
          padding-left: 0 !important;
          z-index: 10 !important;
        }

        .ng-value {
          margin-bottom: 0 !important;
          .ng-value-label {
            padding-bottom: 0.3rem !important;
          }
        }
      }
    }
  }

  angular-intl-phone {
    grid-area: input;
    z-index: 4;
    background-color: $generic-form-background !important;
    color: $text-color;
    border-radius: $border-radius;
    &.ng-invalid.ng-dirty.ng-touched {
      input {
        @extend %invalid-control;
      }
    }
    .iti {
      width: 100% !important;
      border-radius: $border-radius;
      input {
        @extend %generic-input;
        width: 100%;
      }
    }
  }
}
