@import "buttons.scss";
@import "colors.scss";
@import "breakpoints.scss";

.content {
  .community-content {
    display: block;
    max-width: 1310px;
    margin: 0 auto;
  }
}

span {
  &.secondary {
    color: $secondary;
  }
}

.community-row {
  &_foot {
    padding: 50px 130px;
    @media screen and (max-width: $small-devices-breakpoint) {
      padding-inline: initial;
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-block: 40px;
  column-gap: 30px;

  @media screen and (max-width: $large-devices-breakpoint) {
    justify-content: center;
  }

  .community-card {
    width: 300px;
    padding: 25px;
    border: solid $secondary 1px;
    border-radius: 20px;
    background-color: $generic-form-background;
    flex-direction: column;
    display: flex;
    text-align: center;

    h3 {
      margin-top: 0;
    }

    .community-card_content {
      margin-bottom: 20px;
    }

    .read-more {
      display: flex;
      font-size: 16px;
      line-height: 28px;
      color: $primary;
      align-items: center;
      gap: 10px;
      margin-top: auto;
      transition: all 300ms ease;
      cursor: pointer;
      .icon {
        font-size: 10px;
      }
      &:hover {
        .icon {
          margin-left: 20px !important;
          opacity: 0 !important;
        }
      }
    }
  }
}

.member {
  &_title {
    @media screen and (max-width: $small-devices-breakpoint) {
      padding-inline: 30px;
      text-align: center;
    }
  }
}
