<div class="content">
  <div class="community-content">
    <div class="community-row_foot">
      <div class="member">
        <div class="member_title">
          <h2>Trainig with our <span class="secondary">Partner...</span></h2>
        </div>
        <div class="cards">
          <div class="community-card">
            <h3 class="community-card_title">
              Support <span class="secondary">reconversion</span>
            </h3>
            <div class="community-card_content">
              <strong>PIVOT</strong> mentored training paths
            </div>
            <a
              class="read-more"
              href="https://openclassrooms.com/fr/business/boost"
              target="_blank"
            >
              Read more
              <div class="icon">
                <fa-icon class="icon" [icon]="readMoreIcon"></fa-icon>
              </div>
            </a>
          </div>
          <div class="community-card">
            <h3 class="community-card_title">
              Expanding <span class="secondary">knowledge</span>
            </h3>
            <div class="community-card_content">
              Library of over 500 stand-alone <strong>SPARK</strong> courses
            </div>
            <a
              class="read-more"
              href="https://openclassrooms.com/fr/business/spark"
              target="_blank"
            >
              Read more
              <div class="icon">
                <fa-icon class="icon" [icon]="readMoreIcon"></fa-icon>
              </div>
            </a>
          </div>
          <div class="community-card">
            <h3 class="community-card_title">
              <span class="secondary">Menitoring</span> program.
            </h3>
            <div class="community-card_content">
              Mentoring program to develop <strong>SOFT</strong> skills
            </div>
            <a class="read-more" href="#" target="_blank">
              Read more
              <div class="icon">
                <fa-icon class="icon" [icon]="readMoreIcon"></fa-icon>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
