@import "colors.scss";
@import "breakpoints.scss";
.event-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  .banner-container {
    background-image: url("/assets/img/events-banner.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 476px;
    margin: 0;
    padding: 0 200px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      height: 200px;
      background-position-y: 0px;
    }
  }

  .header {
    width: 100%;
    padding: 40px 0 0 0;
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 30px;
      line-height: 41px;
      text-align: center;
      color: $black;
      margin: 0 0 10px;

      span {
        color: $secondary;
      }

      @media screen and (max-width: 767px) {
        font-size: 30px;
      }
    }
    .links {
      font-size: 15px;
      margin: 5px -15px 10px;
    }
    a:hover {
      opacity: 0.9;
      color: #1370b5;
    }
  }

  .filtered-list {
    background-color: $white;
    padding: 50px 15px 100px;
    width: 100%;
    max-width: 1310px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    .filter {
      width: 100%;
    }
    .list {
      width: 100%;
      display: flex;
      flex-direction: column;
      .list-container {
        flex: 1;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $medium-devices-breakpoint) {
  .filtered-list {
    flex-direction: row-reverse !important;
    gap: 4% !important;
    .filter {
      width: 28% !important;
    }
    .list {
      width: 68% !important;
    }
  }
}
