@import "breakpoints.scss";

/**
 * A more specific selector overwrites bootstrap display properties, but they still enable users
 * to overwite them on their apps.
 */
//  /deep/ modal .modal {
.modal {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

// /deep/ .modal {
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 42;
}

.modal.in {
  opacity: 1;
}

@media (max-width: $small-devices-breakpoint) {
  .modal-dialog {
    width: 90%;
  }
  .modal-content {
    width: auto;
  }
}
