$primary-selected: #155dc2;
$primary: #1967d2;
$secondary: #eb5432;
$third: #dc3545;
$fourth: #99c1b9;
$background: #f5f7fc;
$primary-hover: #0146a6;
$secondary-hover: #ec4c28;
$border: #ecedf2;
$success: #34a853;
$success-hover: #2f994b;
$disabled-button-color: #b4b4b4;

$white: #ffffff;
$black: #202124;
$warning: #e20b32;

// text
$text-color: #696969;
$text-non-active-color: #dacdda;
$title-color: $black;
$sub-title-color: #1a2b48;

// form
$generic-form-border-focus: rgba(0, 123, 255, 0.25);
$generic-form-error-border: rgba(226, 11, 50, 0.25);
$generic-form-error-background: #ffe9f2;
$generic-form-border: #f0f5f7;
$generic-form-border-disabled: #f0f5f7;
$generic-form-background-disabled: #f9f9f9;
$generic-form-control-border: #f0f5f7;
$generic-form-placeholder-color: #999999;
$generic-form-background: #f0f5f7;
$generic-form-title: #1b2032;

// social media
$facebook-color: #3b5998;
$twitter-color: white;
$pinterest-color: #dd4b39;
$linkedin-color: #0a66c2;
