@font-face {
  font-family: "Regular";
  src: url("../assets/fonts/Outfit/Outfit-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "SemiBold";
  src: url("../assets/fonts/Outfit/Outfit-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Bold";
  src: url("../assets/fonts/Outfit/Outfit-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Light";
  src: url("../assets/fonts/Outfit/Outfit-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito/Nunito-Regular.woff2") format("woff2");
}
