$gap: 12px;
$border-radius: 8px;
$content-padding: 30px;
$generic-form-height: 53px;
$generic-textarea-form-height: 100px;
$button-padding-top: 18px;
$button-padding-left-right: 35px;
$button-padding-bottom: 15px;
$input-padding-top-bottom: 15px;
$input-padding-left-right: 20px;
