<div class="container">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit(form)">
    <!-- <form> -->
    <div class="form-content">
      <div for="search" class="label">{{ 'jobList.filter.searchLabel' | translate }}</div>
      <div class="control">
        <input
          formControlName="search"
          id="search"
          type="text"
          [placeholder]="'jobList.filter.searchPlaceholder' | translate"
        />
        <fa-icon class="icon" [icon]="faSearch"></fa-icon>
      </div>

      <div for="location" class="label">{{ 'jobList.filter.locationLabel' | translate }}</div>
      <div class="control">
        <ng-select
          formControlName="location"
          [items]="locations || []"
          bindLabel="name"
          bindValue="id"
          [placeholder]="'jobList.filter.locationPlaceholder' | translate"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faMapMarker"></fa-icon>
      </div>

      <div for="location" class="label">{{ 'jobList.filter.categoryLabel' | translate }}</div>
      <div class="control">
        <ng-select
          formControlName="category"
          [items]="categories || []"
          bindLabel="name"
          bindValue="id"
          [placeholder]="'jobList.filter.categoryPlaceholder' | translate"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="fabriefcase"></fa-icon>
      </div>

      <div for="jobTypes" class="label">{{ 'jobList.filter.jobTypeLabel' | translate }}</div>
      <div class="control">
        <ng-select
          formControlName="jobTypes"
          [items]="jobTypes"
          bindLabel="name"
          bindValue="id"
          [placeholder]="'jobList.filter.jobTypePlaceholder' | translate"
          [multiple]="true"
          [selectableGroup]="true"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faTasks"></fa-icon>
      </div>

      <div for="jobTypes" class="label" *ngIf="!!user?.referral">
        {{ 'jobList.filter.featuredJobLabel' | translate }}
      </div>
      <div class="checkbox-control" *ngIf="!!user?.referral">
        <input
          type="checkbox"
          formControlName="isFeatured"
          id="isFeatured"
          name="isFeatured"
        />
        <label class="name" for="isFeatured">{{ 'jobList.filter.isFeatured' | translate }}</label>
      </div>

      <div for="datePosted" class="label">{{ 'jobList.filter.datePostedLabel' | translate }}</div>
      <div class="control">
        <ul>
          <li *ngFor="let datePeriod of datePeriods">
            <input
              type="radio"
              id="{{ datePeriod }}"
              name="datePosted"
              value="{{ datePeriod }}"
              formControlName="datePosted"
            />
            <label for="{{ datePeriod }}">{{ datePeriod }}</label>
            <fa-icon [icon]="faCheck" class="checked-icon"></fa-icon>
          </li>
        </ul>
      </div>

      <div for="experienceLevels" class="label">{{ 'jobList.filter.experienceLevelLabel' | translate }}</div>
      <div class="control">
        <ng-select
          formControlName="experienceLevels"
          [items]="experienceLevels"
          [placeholder]="'jobList.filter.experienceLevelPlaceholder' | translate"
          [selectableGroup]="true"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faStarHalf"></fa-icon>
      </div>

      <div class="footer">
        <div class="button-wrapper">
          <button class="primary">{{ 'jobList.filter.findJobsButton' | translate }}</button>
        </div>
      </div>
    </div>
  </form>
</div>
