@import "buttons.scss";
@import "colors.scss";

button {
  @extend %button;
}

a {
  @extend %button;
}

.banner-container {
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    height: 200px;
  }

  .bloc-container {
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

    .bloc {
      background-color: #f0f5f7c5;
      padding: 43px;
      border-radius: 20px;
      border: solid $secondary 1px;
      position: relative;
      max-width: 350px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      h2 {
        text-align: center;
        margin: 0;
      }

      .bloc-text {
        text-align: center;
        font-size: 20px;
      }

      .accent {
        color: $secondary;
      }

      a {
        padding: 0;

        &, button {
          width: 100%;
        }

        button {
          @extend %button;
          padding: 15px 30px;
          font-family: "Regular", sans-serif;
          font-size: 16px;
        }
      }

    }
  }

}

@media screen and (max-width: 1525px) {
  .banner-container {
    height: unset;

    .banner {
      position: relative;
      height: 450px;
    }
  }
}

@media screen and (max-width: 767px) {
  .banner-container {

    .bloc-container {
      .bloc {
        padding: 20px;

        .bloc-text {
          font-size: 16px;
        }
      }
    }
  }
}
