// @import 'fonts.scss';
@import "colors.scss";
@import "breakpoints.scss";

$h: 1.5rem;
$animation-duration: 0.3s;
.container {
  height: 100%;
  width: 100%;
  padding-block: 10px;

  .icon {
    font-size: 35px;
    margin-right: 5px;
    
    .profile-picture {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid $primary;
    }
  }

  .grey-icon {
    color: $text-color;
  }

  .nav-outer {
    position: relative;
    display: flex;
  }

  .outer-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    position: relative;

    .slogan {
      @media screen and (max-width: 1459px) {
        display: none;
      }
    }
  }

  .login-item {
    align-items: center;
    display: flex;
    position: relative;
  }

  li {
    margin-right: 40px;
    padding: 20px 0;
  }

  .main-box {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100%;

    .nav-outer {
      align-items: center;

      .logo-box {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 100px;

        .logo {
          z-index: 9;
          padding: 25px 0;

          a {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              color: $secondary;
              font-size: 11px;
            }

            img {
              max-height: 50px;
            }
          }
        }
      }
      .main-menu {
        position: static;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        .navigation {
          position: static;
          display: flex;
          align-items: center;
          li {
            position: relative;
            transition: all 300ms ease;
            a {
              &.active {
                color: $primary !important;
                border: 1px solid $primary;
              }

              &:hover {
                color: $primary !important;
                border: 1px solid $primary;
              }

              position: relative;
              display: block;
              text-align: center;
              opacity: 1;
              font-size: 15px;
              line-height: 30px;
              font-weight: 400;
              color: $black;
              transition: all 300ms ease;
              border-radius: 30px;
              min-width: 130px;
              border: 1px solid $black;
            }
          }
        }
      }
    }
    .outer-box {
      margin-left: 100px;

      .login-item {
        a {
          min-width: 140px;
        }
      }
    }
    .ad-banner {
      flex: 1;

      &, img {
        height: 100%;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .mobile-header {
    display: none;
  }
  @media screen and (max-width: $extra-large-devices-breakpoint) {
    .outer-box {
      .login-item {
        a {
          min-width: 0 !important;
          .full-name {
            display: none;
          }
        }
      }
      .mobile-nav-toggler {
        display: flex;
        height: 40px;
        width: 40px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        background: white;
        margin-left: 15px;
        .container-lignes {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .ligne {
            position: absolute;
            border-radius: 10px;
            width: 30px;
            height: 3px;
            background: rgb(74, 80, 90);

            &:nth-child(1),
            &:nth-child(3) {
              transform: rotate(0deg);
              transition: transform $animation-duration ease-in-out,
                top $animation-duration $animation-duration ease-in-out;
            }
            &:nth-child(1) {
              top: 4px;
            }
            &:nth-child(2) {
              top: 12px;
              transform: opacity $animation-duration $animation-duration
                ease-in-out;
            }
            &:nth-child(3) {
              top: 21px;
              width: 27px;
            }
          }
        }
      }
      .mobile-nav-toggler.active {
        .ligne {
          &:nth-child(1) {
            top: 14px !important;
            transform: rotate(45deg) !important;
            transition: top $animation-duration ease-in-out,
              transform $animation-duration $animation-duration ease-in-out !important;
          }
          &:nth-child(2) {
            transform: opacity $animation-duration ease-in-out;
            opacity: 0;
          }
          &:nth-child(3) {
            top: 14px !important;
            width: 30px !important;
            transform: rotate(-45deg) !important;
            transition: top $animation-duration ease-in-out,
              transform $animation-duration $animation-duration ease-in-out !important;
          }
        }
      }
    }
  }

  @media screen and (max-width: $large-devices-breakpoint) {
    .main-box {
      display: none;
    }
    .mobile-header {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      padding: 20px 15px;
      z-index: 99;
      background-color: $white;
      box-shadow: 0px 6px 15px rgba(64, 79, 104, 0.05);
      z-index: 1002;
      .logo {
        margin: 0 !important;
        padding: 0 !important;
        left: 0;
        img {
          max-width: none;
          height: 40px;
          max-height: 50px;
        }
      }
      .menu-items {
        position: absolute;
        display: flex;
        margin-top: calc(11vh - 20px);
        margin-left: -15px;
        height: 100vh;
        width: 100%;
        transform: translateY(150%);
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        background-color: $black;
        color: #979797;
        .menu-title {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 7px 0;
          min-height: 59px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        .navigation {
          padding: 20px 0;
          margin: 0;
          li {
            margin-left: 20px;
            a {
              padding: 12px;
              padding-left: 20px;
            }
          }
        }
      }
      .menu-items.active {
        transform: translateY(0);
      }
      .nav-outer {
        .outer-box {
          margin-top: 0;
          padding: 0;
        }
      }
    }
  }
  a {
    cursor: pointer;
  }
  a:hover,
  a:focus,
  a:visited {
    text-decoration: none;
    outline: none;
  }
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style-type: none;
  }
  .text-left {
    text-align: left !important;
  }
  .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: $primary;
    background-color: $white;
    border-radius: 0 0 8px 8px;
    border-top: 2px solid $primary;
    box-shadow: 0 6px 15px rgba(64, 79, 104, 0.05);
    min-width: 230px;
    padding: 15px 0;
    z-index: 5;
    transition: all 0.2s;
    position: absolute;
    top: 0px;
    right: 15px;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    background-clip: padding-box;
    li {
      margin: 0;
      padding: 0;
      a {
        color: $text-color;
        display: block;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-left: 0 !important;
        padding: 10px 30px;
        position: relative;
        text-transform: capitalize;
        transition: all $animation-duration ease;
        white-space: nowrap;
        z-index: 1;
      }
    }
  }
  .dropdown-menu.show {
    transform: translate3d(20px, 64px, 0px);
  }
  .dropdown-menu:not(.show) {
    transform: translate3d(20px, 100px, 0px);
    visibility: hidden;
    opacity: 0;
  }
  a.is_login {
    margin-left: 20px;
    align-items: center;
    display: inline-flex;
    font-size: 15px;
    line-height: 1;
    padding: 12px 0;
    .avatar {
      border-radius: 50%;
      height: 40px;
      margin-right: 5px;
      object-fit: contain;
      width: 40px;
    }
    i {
      margin-left: 5px;
    }
    .full-name {
      max-height: 15px;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $primary;
    }
  }
}
