<div class="container">
  <form *ngIf="form" [formGroup]="form" (submit)="onSubmit(form)">
    <div class="form-content">
      <div for="search" class="label">Search by Keywords</div>
      <div class="control">
        <input
          formControlName="search"
          id="search"
          type="text"
          placeholder="Job title..."
        />
        <fa-icon class="icon" [icon]="faSearch"></fa-icon>
      </div>

      <div for="location" class="label">Location</div>
      <div class="control">
        <ng-select
          formControlName="location"
          [items]="locations || []"
          bindLabel="name"
          bindValue="id"
          placeholder="Choose a location"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faMapMarker"></fa-icon>
      </div>

      <div for="location" class="label">Category</div>
      <div class="control">
        <ng-select
          formControlName="category"
          [items]="categories || []"
          bindLabel="name"
          bindValue="id"
          placeholder="Choose a category"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="fabriefcase"></fa-icon>
      </div>

      <div for="jobTypes" class="label">Job type</div>
      <div class="control">
        <ng-select
          formControlName="jobTypes"
          [items]="jobTypes"
          bindLabel="name"
          bindValue="id"
          placeholder="Select job types"
          [multiple]="true"
          [selectableGroup]="true"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faTasks"></fa-icon>
      </div>

      <div for="jobTypes" class="label" *ngIf="!!user?.referral">
        Featured Job
      </div>
      <div class="checkbox-control" *ngIf="!!user?.referral">
        <input
          type="checkbox"
          formControlName="isFeatured"
          id="isFeatured"
          name="isFeatured"
        />
        <label class="name" for="isFeatured">Is featured</label>
      </div>

      <div for="datePosted" class="label">Date posted</div>
      <div class="control">
        <ul>
          <li *ngFor="let datePeriod of datePeriods">
            <input
              type="radio"
              id="{{ datePeriod }}"
              name="datePosted"
              value="{{ datePeriod }}"
              formControlName="datePosted"
            />
            <label for="{{ datePeriod }}">{{ datePeriod }}</label>
            <fa-icon [icon]="faCheck" class="checked-icon"></fa-icon>
          </li>
        </ul>
      </div>

      <div for="experienceLevels" class="label">Experience level</div>
      <div class="control">
        <ng-select
          formControlName="experienceLevels"
          [items]="experienceLevels"
          placeholder="Select experience levels"
          [selectableGroup]="true"
        >
        </ng-select>
        <fa-icon class="icon" [icon]="faStarHalf"></fa-icon>
      </div>

      <div class="footer">
        <div class="button-wrapper">
          <button class="primary">Find Freelance Jobs</button>
        </div>
      </div>
    </div>
  </form>
</div>
