@import 'forms.scss';
@import 'buttons.scss';
@import 'details.scss';

.container {
    @extend %detail-layout;
    form {
        @extend %generic-form;
        max-width: 100%;
    }
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
}

.profile-picture-section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
}
