@import 'tables.scss';
@import 'colors.scss';

$c1Width: 20%;
$c2Width: 20%;
$c3Width: 20%;
$c4Width: 20%;
$c5Width: 20%;

$tableWidth: $c1Width + $c2Width + $c3Width + $c4Width + $c5Width;

@mixin thTdWidth($width) {
    width: $width;
    max-width: 0;
}

.table-container {
    width: 100%;
    height: 100%;
    table {
        @extend %table;
        width: $tableWidth;

        tbody td:nth-child(1),
        thead th:nth-child(1) {
            @include thTdWidth($c1Width);
        }
        tbody td:nth-child(2),
        thead th:nth-child(2) {
            @include thTdWidth($c2Width);
        }
        tbody td:nth-child(3),
        thead th:nth-child(3) {
            @include thTdWidth($c3Width);
        }
        tbody td:nth-child(4),
        thead th:nth-child(4) {
            @include thTdWidth($c4Width);
        }
        tbody td:nth-child(5),
        thead th:nth-child(5) {
            @include thTdWidth($c5Width);
        }
    }
}

.actions {
    cursor: pointer;
}
