@import "colors";
@import "breakpoints";

.banner-container {
  background-image: url("/assets/img/hr-media-home.jpg");
  background-size: cover;
  width: 100%;
  height: 476px;
  margin: 0;
  padding: 0 200px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 200px;
  }
}

.hr-voice-content {
  width: 100%;
  min-height: 100%;
  max-width: 1310px;
  margin: 0 auto;
  margin-top: 46px;

  .no-gap {
    column-gap: 0 !important;
  }
  .hr-voice-row {
    width: 100%;
    flex: 1;
    margin: 60px 0px;
    .hr-voice-title {
      h4 {
        color: $text-color;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
      }
      .title {
        margin: 15px 0px;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: $black;
        span {
          color: $secondary;
        }
      }
    }
  }
}

.bloc {
  display: flex;
  column-gap: 50px;
  row-gap: 67px;

  @media screen and (max-width: 937px) {
    flex-wrap: wrap;
  }

  & > * {
    width: 100%;
  }
}
