@import "texts";

.upper-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .inner-box {
    text-align: center;
    .icon {
      img {
        width: 70px;
      }
    }
    h4 {
      font-size: 18px;
      line-height: 28px;
      color: $sub-title-color;
      font-weight: 500;
    }
    p {
      @extend %paragraph;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $medium-devices-breakpoint) {
  .upper-box-container {
    flex-direction: row !important;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10%;
    .inner-box {
      text-align: start;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $large-devices-breakpoint) {
  .upper-box-container {
    justify-content: space-around;
    flex-wrap: nowrap;
  }
}
