@import "colors.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  .result {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: $text-color;
    strong {
      font-weight: 500;
      color: $black;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
