@import "colors.scss";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  
  .result {
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    font-size: 15px;
    line-height: 1.5;
    color: #6B7280;
    font-weight: 500;
    
    strong {
      font-weight: 700;
      color: $black;
      margin: 0 4px;
    }
  }
  
  .sort-by {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
