@import "breakpoints.scss";
@import "colors.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  
  &.full-width {
    background-color: white;
    
    .authentication-right {
      width: 100%;
      padding: 0;
      align-items: flex-start;
    }
  }
  
  .authentication-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 15vh 5vw;
  }
  
  .authentication-right {
    width: 50%;
    height: 100%;
    padding: 9vh 9vw 6vh 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &.full-width {
      width: 100%;
      padding: 0;
      align-items: flex-start;
    }
    
    .right-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
    }
  }
}

@media (max-width: $medium-devices-breakpoint) {
  .container {
    .authentication-left {
      display: none;
    }
    .authentication-right {
      width: 100%;
      padding: 0;
      align-items: flex-start;
    }
  }
}
