@import 'breakpoints';
@import 'colors';

.contact-container {
  .map-section {
    width: 100%;
    height: 500px;
    background-color: $background;
  }
  .container-section {
    padding: 15px 0;
    .auto-container {
      max-width: 1310px;
      padding: 0px 15px;
      margin: 0 auto;
      width: 100%;
      .upper-box {
        position: relative;
        padding: 90px 200px 70px;
        margin-top: 0px;
        z-index: 1;
        background: $white;
      }
      .contact-form {
        max-width: 850px;
        margin: 0 auto;
        border: 1px solid #ECEDF2;
        border-radius: 8px;
        padding: 50px 50px 70px;
      }
    }
  }
}
@media (min-width: $medium-devices-breakpoint) {
  .container-section{
    padding: 100px 0 !important;
  }
  .upper-box {
    margin-top: -300px !important;
  }
}
