@import "colors.scss";
@import "texts.scss";

.owl-item {
  width: 100%;
  height: 100%;
  border: 1px solid #ecedf2;
  border-radius: 8px;
  padding: 20px;
  .company-block {
    .inner-box {
      .image {
        position: relative;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        margin: 0 auto 14px;
        img {
          border-radius: 50%;
          width: 50px;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h4 {
        text-align: center;
      }
      ul {
        display: flex;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        flex-wrap: wrap;
        list-style: none;
        width: 50%;
        margin: auto;
        li {
          position: relative;
          text-align: center;
          font-size: 14px;
          line-height: 22px;
          color: $text-color;
          font-weight: 400;
          padding-left: 25px;
          margin-bottom: 5px;
          margin-right: 20px;
          // width: 25%;
          margin: auto;
          .icon {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
            line-height: 22px;
            color: $text-color;
          }
        }
      }
      .btn-container {
        width: 50%;
        margin: 10px auto;
        .theme-btn {
          background: #a4cae589;
          width: 100%;
          border: none;
          padding: 15px 0;
          border-radius: 20px;
          color: $primary;
          &:hover {
            background: $primary-hover;
            color: $white;
          }
        }
      }
    }
  }
}
