@import "breakpoints.scss";
@import "buttons";
@import "texts";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: $medium-devices-breakpoint) {
  .container {
    height: 89vh;
  }
}

.modal-text {
  @extend %paragraph;
  text-align: center;
  margin-bottom: 20px !important;
}
.modal-button {
  @extend %button;
  height: 44px;
  padding: 0;
}
.modal-title {
  @extend %title;
  margin-block: auto;
  text-align: center;
}
