@import 'form.scss';
// @import 'fonts.scss';
@import 'breakpoints.scss';
@import 'box-shadow.scss';
@import 'colors.scss';
@import 'sizes.scss';
@import 'buttons.scss';
@import 'texts.scss';

.container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}
.form-container {
    @extend %box-shadow;
    max-height: 100%;
    border-radius: $border-radius;
    width: 100%;
    overflow-y: auto;
    display: flex;
    align-items: right;
    flex-direction: column;
    position: relative;
    padding: $content-padding;
    .sub-title {
        @extend %sub-title;
        max-width: 100%;
    }
}
button {
    @extend %button;
    width: 100%;
}
form {
    @extend %generic-form;
    max-width: 100%;
    // padding: $standard-padding-top-bottom $standard-padding-left-right;
    .form-content {
        .password-label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: auto;
            a {
                color: $primary;
                text-decoration: none;
                font-style: normal;
                font-size: 12px;
                line-height: 20px;
                margin-bottom: 10px;
                font-weight: 500;
            }
        }
        .label {
            @extend %generic-label
        }
        .error-content{
          @extend %error-form-text;
          font-size: 1rem;
          height: 19px;
          margin-bottom: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .separator {
          display: flex;
          align-items: center;
          margin: 20px 0;
          
          &::before,
          &::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #dadce0;
          }
          
          span {
            padding: 0 16px;
            color: #5f6368;
            font-size: 14px;
            font-weight: 500;
          }
        }
    }
}

.signup-label {
    text-align: center;
    margin: 30px 0;

    font-style: normal;
    font-weight: 700;
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    a {
        color: $primary;
        text-decoration: none;
        font-size: 15px;
    }
}
@media (max-width: $medium-devices-breakpoint) {
    .form-container {
        box-shadow: none;
        border-radius: 0;
    }

 }
