@import "colors";

.banner-container {
  background-image: url("/assets/img/advisor-banner.jpg");
  background-size: cover;
  background-position-y: -50px;
  width: 100%;
  height: 476px;
  margin: 0;
  padding: 0 200px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    height: 200px;
    background-position-y: 0px;
  }
}

.title {
  margin-top: 46px;
  margin-bottom: 46px;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #202124;
  span {
    color: $secondary;
  }
}
