<div class="container">
  <div class="form-container">
    <div class="sub-title">
      <strong>Reset password</strong>
    </div>
    <form
      [formGroup]="form"
      (submit)="form.valid ? send.emit(form.value.email) : showErrors()"
    >
      <div class="form-content">
        <div class="control">
          <label>Email</label>
          <input
            id="email"
            appScrollOnFocus
            formControlName="email"
            type="email"
            placeholder="Enter your email address"
            #first
          />
          <app-validation-error
            [control]="form.controls['email']"
          ></app-validation-error>
        </div>
        <button type="submit" class="primary">Reset password</button>
      </div>
    </form>
    <div class="signup-label">
      Already have an account ?
      <a routerLink="/authentication/sign-in">Sign in</a>
    </div>
  </div>
</div>
