<div class="container">
  <div class="form-container">
    <div class="sub-title">
      <strong>{{ 'auth.resetPassword.title' | translate }}</strong>
    </div>
    <form
      [formGroup]="form"
      (submit)="form.valid ? send.emit(form.value.email) : showErrors()"
    >
      <div class="form-content">
        <div class="control">
          <label>{{ 'auth.resetPassword.emailLabel' | translate }}</label>
          <input
            id="email"
            appScrollOnFocus
            formControlName="email"
            type="email"
            [placeholder]="'auth.resetPassword.emailPlaceholder' | translate"
            #first
          />
          <app-validation-error
            [control]="form.controls['email']"
          ></app-validation-error>
        </div>
        <button type="submit" class="primary">{{ 'auth.resetPassword.submitButton' | translate }}</button>
      </div>
    </form>
    <div class="signup-label">
      {{ 'auth.resetPassword.alreadyAccount' | translate }}
      <a [routerLink]="['/authentication/sign-in']">{{ 'auth.resetPassword.signInLink' | translate }}</a>
    </div>
  </div>
</div>
