// @import 'fonts.scss';
@import 'form.scss';
@import 'buttons.scss';
@import 'texts.scss';
@import 'sizes.scss';
@import 'breakpoints.scss';
@import 'box-shadow.scss';

.container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.form-container {
    @extend %box-shadow;
    border-radius: $border-radius;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: right;
    flex-direction: column;
    position: relative;
    padding: $content-padding;
    .sub-title {
        @extend %sub-title;
        max-width: 100%;
    }
    button {
        @extend %button;
        width: 100%;
    }
    form {
        @extend %generic-form;
        max-width: 100%;
    }
}

.signup-label {
    text-align: center;
    margin: 30px 0;

    font-style: normal;
    font-weight: 700;
    color: $text-color;
    font-size: 14px;
    line-height: 20px;
    a {
        color: $primary;
        text-decoration: none;
        font-size: 15px;
    }
}
.error {
    color: #ff6a6a;
    font-size: 12px !important;
    font-weight: 400;

    padding-bottom: 30px;
    margin-top: 15px;
    text-align: center;
    // max-width: $button-width;
    height: 20px;
}
span {
    color: #ff6a6a;
    font-size: 12px !important;
    font-weight: 400;

    padding-bottom: 30px;
    margin-top: 15px;
    text-align: center;
    // max-width: $button-width;
}
@media (max-width: $medium-devices-breakpoint) {
    .container {
        box-shadow: none;
        border-radius: 0;
    }

 }
