<div class="info-box">
  <div class="article-image" *ngIf="news.image?.fileUrl">
    <img [src]="news.image.fileUrl" [alt]="news.title" />
  </div>
  <div class="article-content">
    <div class="title">
      <a [routerLink]="'/blog/detail/' + news.slug">
        {{ news.title }}
        <fa-icon
          *ngIf="news.isPremium"
          class="icon"
          [icon]="premiumIcon"
        ></fa-icon>
      </a>
    </div>
    <div class="content">
      {{ news.content | htmlParser }}
    </div>
    <a [routerLink]="'/blog/detail/' + news.slug" class="read-more">
      Read more
      <div class="icon">
        <fa-icon class="icon" [icon]="readMoreIcon"></fa-icon>
      </div>
    </a>
  </div>
</div>
