@import "colors";
.agenda-item-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(25, 103, 210, 0.15);
  display: flex;
  flex-direction: column;
  padding: 38px;
  border-radius: 20px;

  h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: $black;
  }
  .mat-calendar-body-cell.selected {
    background-color: #79bbbc !important;
    border-radius: 50%;
    color: white;
  }
  .mat-calendar-body-selected {
    background-color: #79bbbc !important;
  }
  .drop-calendar {
    width: 30rem;
  }

  .mat-calendar-body-today {
    border-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38) !important;
    border-radius: 0px !important;
  }
}
