// @import 'forms.scss';
// @import 'fonts.scss';

.container {
    width: 95%;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        // font-family: $regular;
        height: 60px;

        img {
            margin: 0 5px 0 0;
        }

        h4 {
            margin: 0;
            font-weight: unset;
        }
    }
}

// form {
//     @extend %generic-form;
// }

.wrapper {
    width: calc(100% - 10px);
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;

    .error-content {
        // @extend %generic-print-error;
        height: 20px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
        grid-template-columns: auto;
    }
}
