@import 'colors.scss';
@import 'form.scss';

.container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
    max-height: 100%;

    .icon{
        position: absolute;
        height: 100%;
    }
    .icon:first-child {
        width: 20px;
        left: 15px;
    }
    .icon:last-child {
        width: 15px;
        right: 15px;
    }

    input {
        @extend %generic-input;
        flex-grow: 1;
        outline: none;
        border-style: none;
        padding-left: 45px; /* = icon width */
        padding-right: 45px; /* = icon width */
    }

    svg {
        cursor: pointer;
        fill: $text-color;
        width: 14px;
        height: 14px;
    }

    svg:hover {
        fill: $black;
    }
}
