@import "breakpoints";
@import "colors";
@import "buttons";

#home-new {
  width: 100%;
  background-color: #f0f5f7c5;
  padding: 43px;
  border-radius: 20px;
  border: solid $secondary 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: $black;
  }
}
.news-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  column-gap: 50px;
  row-gap: 50px;
  justify-content: flex-start;
}
.see-all {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  button {
    @extend %button;
    min-width: 239px;
    height: 52px;
  }
}
