@import "form.scss";
// @import 'fonts.scss';
@import "breakpoints.scss";
@import "box-shadow.scss";
@import "colors.scss";
@import "sizes.scss";
@import "buttons.scss";
@import "texts.scss";
.form-container {
  width: 100%;
  height: 100%;
  .title {
    @extend %title;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
}

.box-shadow {
  width: 100%;
  height: 100%;
  @extend %box-shadow;
  border-radius: $border-radius;
  overflow-y: auto;
  display: flex;
  align-items: right;
  flex-direction: column;
  position: relative;
  padding: $content-padding;
  .sub-title {
    @extend %form-title;
    margin-bottom: 30px;
  }
}

button {
  @extend %button;
  margin-bottom: 60px;
}
form {
  @extend %generic-form;
  max-width: 100%;
  .form-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 65% $content-padding minmax(0, 1fr);
    grid-template-rows: auto $content-padding auto $content-padding auto;
    grid-template-areas:
      "site-information    .        language"
      "site-information    .        ."
      "site-information    .        contact-information"
      ".                   .        ."
      "footer              footer   footer";

    .site-information {
      grid-area: site-information;
    }
    .language {
      grid-area: language;
    }
    .contact-information {
      grid-area: contact-information;
    }
    .footer {
      grid-area: footer;
    }
    .password-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      a {
        color: $primary;
        text-decoration: none;
        font-style: normal;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: 500;
      }
    }
    .label {
      @extend %generic-label;
    }
    .error-content {
      @extend %error-form-text;
      font-size: 1rem;
      height: 19px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: $medium-devices-breakpoint) {
  .form-container {
    box-shadow: none;
    border-radius: 0;
  }
}
