@import "colors.scss";
@import "breakpoints.scss";

.featured-job {
  background: transparent !important;
  
  .container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    padding: 0;

    .container-our-customer {
      width: 100%;
    }
  }
}

::ng-deep {
  .featured-job {
    .owl-carousel {
      .owl-stage-outer {
        padding: 20px 0;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .featured-job {
    .container {
      flex-direction: column;
      gap: 30px;
    }
  }
}
