@import 'colors.scss';

.quantity {
    display: flex;
    width: 75px;
    // border: 1px solid $input-number-border;
    border-radius: 5px;
    padding: 5px;
    height: 35px;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number]
  {
    -moz-appearance: textfield;
  }

  .quantity input {
    width: 45px;
    line-height: 1.65;
    border: none;
    text-align: center;
    color: $text-color;
    font-weight: 700;
  }

  .quantity input:focus {
    outline: 0;
  }

  .quantity-nav {
    width: 30px;
    background: #fff;
  }

  .quantity-button {
    cursor: pointer;
    width: 20px;
    text-align: center;
    color: $text-color;
    font-size: 13px;
    line-height: 1.7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .quantity-button.quantity-up, .quantity-button.quantity-down {
    height: 50%;
    font-size: 9px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
