@import 'colors.scss';
@import 'sizes.scss';
$animation-duration: 0.3s;
nav {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  display: flex;
  align-items: center;
  height: 50px;
//   padding: 0 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.link {
  flex: 1;
}

.active {
  background-color: rgba(255, 255, 255, 0.1);
}

li{
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    width: 100%;
    a {
        color: $text-color;
        display: block;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        padding: 10px 25px;
        position: relative;
        text-transform: capitalize;
        transition: all $animation-duration ease;
        // white-space: nowrap;
        z-index: 1;
        border-radius: $border-radius;
        text-decoration: none;
        // flex-grow: 1;
        // outline: none;
        padding-left: 62px; /* = padding left + icon width + icon margin*/
        &.active{
          color: #6bbee3;
        }
      }
    .logo{
        position: absolute;
        left: 25px;
        width: 22px
    }
}
li:hover a, a.active{
    color: $primary;
    background: rgba(25, 103, 210, .1);
}
