<div class="support-banner">
  <div class="collapse-icon" (click)="onCollapse()">
    <fa-icon [icon]="collapseIcon" class="chevron-icon"></fa-icon>
  </div>
  <div class="container" [ngClass]="{ collapse: isCollapsed }">
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id quos
        officiis sapiente inventore libero deserunt itaque dolor ex? Aliquid
        minima consectetur deleniti veniam esse quasi. Ex sed expedita neque.
        Dolor dicta iure magni ut libero hic odit deserunt officia molestiae! Ut
        assumenda alias consectetur commodi libero atque! Totam, nesciunt nisi!
      </p>
      <div class="action">
        <a href="https://calendly.com/teamtalenteed-og0" target="_blank">
          <button class="btn btn-primary">Schedule time with us</button>
        </a>
      </div>
    </div>
  </div>
</div>
