@import "colors.scss";
@import "buttons";
@import "breakpoints";

.support-banner {
  position: fixed;
  opacity: 1;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 100;

  &:hover {
    opacity: 1;
  }

  .container {
    background-color: $primary;
    color: $white;
    padding: 2rem 3rem;
    // display: flex;
    justify-content: space-between;
    animation: collapse 0.5s ease-in-out;
    font-size: 18px;
    p {
      max-width: 70%;
      margin-block: 0;
      line-height: 30px;
      @media screen and (max-width: $medium-devices-breakpoint) {
        max-width: none;
        max-height: 150px;
        overflow-y: scroll;
      }
    }

    &.collapse {
      height: 0;
      padding-bottom: 0;
      opacity: 0.2;
    }

    .action {
      display: flex;
      justify-content: flex-end;
    }

    button {
      @extend %button;
      padding: 20px 30px;
      font-family: "Regular", sans-serif;
      font-size: 16px;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }
  .collapse-icon {
    z-index: 100;
    cursor: pointer;
    background-color: $black;
    position: absolute;
    top: -10px;
    right: 20px;
    /* height: max-content; */
    display: flex;
    display: block;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .chevron-icon {
      color: $white;
    }
  }
}

@keyframes collapse {
  0% {
    height: 100%;
  }
  100% {
    height: 0;
  }
}
