@import "colors.scss";
@import "breakpoints.scss";

.hr-media {
  background: transparent !important;

  .hr-media_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;

    & > * {
      width: 100%;
    }
  }
}

@media screen and (max-width: 969px) {
  .hr-media {
    .hr-media_container {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
}
